
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/functions-and-directives#layer */
@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
      h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
      bg-gray-800 text-white
      hover:bg-sky-400 hover:text-white
      rounded-3xl hover:rounded-xl
      transition-all duration-300 ease-linear
      cursor-pointer
      ;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
      rounded-md shadow-md
      text-white bg-gray-900 
      text-xs font-bold
      transition-all duration-100 scale-0 origin-left;
  }

  .friend-active {
    @apply bg-black
  }

}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  input:focus {
    outline: none;
  }

  div:focus {
    outline: none;
  }
}